<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <div class="card">
        <div class="card-header">
          <span>Cadastro de Equipe</span>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Descrição</label>
              <input type="text" class="form-control" [(ngModel)]="equipe.descricao" name="descricao" />
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </form>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">

    <div class="col-md">
      <div class="card">
        <div class="card-header">
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Descrição</th>
              <th scope="col">Data</th>
              <th scope="col">Equipe</th>
            </tr>
          </thead>
          <tbody *ngFor="let equipe of equipes | async; let i = index">
            <tr>
              <th scope="row">{{i+1}}</th>
              <th scope="row">
                <input type="text" class="form-control" [(ngModel)]="equipe.descricao" name="descricao" />
              </th>
              <th scope="row">
                <button type="button" class="btn btn-default" (click)="edit(equipe, equipe.key)">Editar</button>
              </th>
              <th scope="row">
                <button type="button" class="btn btn-danger ml-2" (click)="delete(equipe.key)">Excluir</button>
              </th>
            </tr>
          </tbody>
        </table>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
</div>
