<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="assets/img/avanade.png" class="logo">
      </a>
      <span class="navbar-brand">Acompanhamento Implantação</span>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">
          Início <span class="sr-only">(current)</span>
        </a></li>
      <li><a href="#">Releases</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputDate">Data da Implantação</label>
      <input type="date" class="form-control" id="inputDate" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputDataAtual">Data Atual</label>
      <input type="text" class="form-control" id="inputDataAtual" disabled value="31/08/2019">
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Atividade</th>
            <th scope="col">Data</th>
            <th scope="col">Equipe</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody *ngFor="let tarefa of tarefas; let i = index">
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{tarefa.tarefa}}</td>
            <td>01/01/2019</td>
            <td>{{tarefa.responsavel}}</td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
