<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <div class="card">
        <div class="card-header">
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Squad</th>
              <th scope="col">Scrum Master</th>
              <th scope="col">Data da Implantação</th>
              <th scope="col">Visualizar</th>
            </tr>
          </thead>
          <tbody *ngFor="let implantacao of implantacoes | async; let i = index">
            <tr>
              <th scope="row">{{i+1}}</th>
              <th scope="row">{{implantacao.squad}}</th>
              <th scope="row">{{implantacao.sm}}</th>
              <th scope="row">{{implantacao.dataImplantacao}}</th>
              <th scope="row">
                <button type="button" class="btn btn-default ml-2" (click)="getById(implantacao.key)">Editar</button>
              </th>
            </tr>
          </tbody>
        </table>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
</div>
